.bg-blue
{
    background-color: #0a9bde;
}

.bg-light-blue
{
    background-color:#00ccff;
}

.bg-very-light-blue
{
    background-color:#7fffff;
}

.white-writing
{
    color:#ffffff;
}

.header-style
{
    height: 120px;
    background-image: url("../img/pattern.png");
    background-size:36%;
    background-repeat:repeat-x;
}

.header-image
{
    height: 60px;
}

.text-aqua
{
    color: aqua;
}

.text-gray
{
    color:gray;
}

.text-small
{
    font-size: 80%;
}

.bg-yellow
{
    background-color:#ffff00;
}

.table-width-50
{
    width:50%;
}